* {
  box-sizing: border-box;
	font-family: Gotham Rounded, sans-serif;
	font-weight: normal;
}

body{
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, #000000, #ff0000);
}

.calc-container{
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4,100px);
	grid-template-rows: minmax(120px,auto) repeat(5, 100px)
}

.calc-container > button {
	cursor: pointer;
	font-size: 2rem;
	background-color: rgba(255,255,255,0.75);
	border: 1px white solid;
}

.calc-container > button:hover {
	background-color: rgba(255,255,255,0.9);
}

.span-two{
	grid-column: span 2;
}

.display-container{
	grid-column: 1/-1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
}

.previous-number{
	font-size: 1.5rem;
	color: rgba(255,255,255,0.75);
}

.current-number{
	font-size: 2.5rem;
	color: rgba(255, 255, 255, 0.9);
}
